<%- include ('partials/header') %> 
    
    <main class="container grid">
        <% if (data) { %>
            <% for( let i=0; i < data.length; i++ ) { %>
                <article class="card" id="products">
                    <img class="img-fluid" src=<%- data[i].url_image %> >
                    <div class="card-content">
                        <h3>
                            <%- data[i].name %>
                        </h3>
                        <!-- <h3>Categoria: <%- data[i].category %></h3> -->
                        <h3>$ <%- data[i].price %>
                        </h3>
                    </div>
                </article>
                <% } %>
                    <% } %>



    </main>

    <%- include ('partials/footer') %> 